<head>
  <link rel="stylesheet" type="text/css" href="../css/reset.css">
  <link rel="stylesheet" type="text/css" href="../css/application.css">
</head>


  

<center id="container_font">Sign In</center>

<div class="form-container">
<form method="post" action="/sessions">
  <p>Email: <input type="text" name='email'></p>
  <p>Password: <input type="password" name='password'></p>
  <p><center><input type="submit" value="Sign in" class="button"></p>

<a href="/retrieve">Forgotten password?</a>
</form></center>
</div>