<div class="container">
	<h1 id="profile"><%= @user.username %>'s Profile</h1>
		<ul id="links">
			<% @links.each do |link| %>
				<%= partial :link, :locals => {:link => link} %>
			<% end %>
		</ul>
	</div>
