* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, Sans-serif, 'Bangers';
  background-image:url("../skulls.png"); 
}


html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #b77843;
}

.button {
  display: inline-block; /* display inline but have dimensions */
  width: 80px;
  background-color: black;
  color: white; /*text colour*/
  text-decoration: none; /*no underlining*/
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px; /*rounded corners*/
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4); /*for readability*/
  font-size: 20px;
  width: 110px;
  cursor: pointer;
  font-family: 'Bangers';
}



#welcome {
  display: inline-block;
  font-family: 'Bangers'
}


.button.highlighted {
  color: red;
}

header {  
  height: 80px;
  background-color: black;
  color: white;
  display: flex; /* http://learnlayout.com/flexbox.html */
  padding: 0 20px;
  opacity: 0.7;
}

  /* every immediate child to be vertically centered */
  header > * {
    margin: auto 0;
  }
  header #logo {    
    display: flex;   
    margin-right: 20px; 
    font-family: 'Bangers', cursive; 
    font-size: 40px; 
  }

  header a {
    color: white;
    text-decoration: none;
  }

  header #user-links {
    flex: 1; /* http://learnlayout.com/flexbox.html */
    -webkit-flex: 1;
    text-align: right;  
  }

#container {
  background-color: white;
  margin: 40px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  padding: 10px;

}

.link {
  background-color: #EEE;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  margin: 10px inherit;
  padding: 15px 10px;
}

.link a.title {
  letter-spacing: 1px;    
}

.link .description {
  margin: 10px inherit;
}

.link .source {
  float: right;
  font-size: 12px;
}


.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}
.footer, .push {
  height: 70px;
}
footer {
  display: flex;
  background-color: rgba(0,0,0,0.2);
  height: 70px;
}

footer > * {
  margin: auto inherit;
}

footer img {
  vertical-align: top;
}

footer #technologies {
  -webkit-flex: 1;
  flex: 1;
  font-size: 12px;
}

footer p {
  padding: 5px 25px;
}

#notice {
  text-align: center;
  margin: 5px;
  padding: 5px;
  background-color: #FF8000;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  color: white;
  font-family: 'Bangers';
  opacity: 0.7;
}

#error {
    text-align: center;
  margin: 5px;
  padding: 5px;
  background-color: red;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  color: white;
}


h1 {
  font-size: 22px ;
 }
 
 form {
  text-align: left;
 }
 
form p {
  margin: 10px 0;
   }
 
form input[type="text"], form input[type="password"] {
  border: 1px solid black;
  font-size: 16px;
  width: 400px;
   }

.form-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 35%;
  padding-right: 35%;
  margin-top: 40px;
  margin-bottom: 40px;
