body {
  font-family: Helvetica, Arial, Sans-serif, 'Share Tech Mono';
  background-image:url("../skulls.png");
}

a.button {
  display: inline-block;  
  width: 80px;
  background-color: #82B743;
  border: 2px solid white;
  color: white; /*text colour*/
  text-decoration: none; /*no underlining*/
  padding: 5px 5px;
  text-align: center;
  border-radius: 4px; /*rounded corners*/
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4)
}

header {  
  height: 40px;
  background-color: black;
  color: white;
  display: flex; /* http://learnlayout.com/flexbox.html */
  padding: 0 20px;
  width: 100%;
}

header #user-links {
  flex: 1;
  -webkit-flex: 1;
  text-align: right;
}

#new-link {

}

