<head>
  <link rel="stylesheet" type="text/css" href="../css/reset.css">
  <link rel="stylesheet" type="text/css" href="../css/application.css">
</head>


<center id="container_font">Add a link</center>

<% if current_user %> 

<div class="form-container">
  <form action="/links" method="post">
    <p>Url: <input type="text" name="url" placeholder="URL"> </p>
    <p>Title: <input type="text" name="title" placeholder="Title"> </p>
    <p>Tags: <input type="text" name="tags" placeholder="Tags (space-separated)"> </p>
    <fieldset>
    <input type="submit" value="Add link" class="button">
  </fieldset>
      </ul>
  </form>
</div>

<% else %>
<center id="please_register">You need to <a href="/users/new">register</a> an account or <a href="/sessions/new">login</a>
.
</center>



<% end %>
