<% if flash[:errors] && !flash[:errors].empty? %>
<div id="notice">
  Sorry, there were the following problems with the form.... 
</div>
    <% flash[:errors].each do |error| %>
  <ul id="errors">
      <li><%= error %></li>
  </ul>
    <% end %>
<% end %>

<% if flash[:notice] %>
  <div id="notice">
    <%= flash[:notice] %>
  </div>
<% end %>