<head>
  <link rel="stylesheet" type="text/css" href="../css/reset.css">
  <link rel="stylesheet" type="text/css" href="../css/application.css">
</head>

    <center id="container_font">Current Links</center>

<% if current_user %> 
		<ul id="links">
			<% @links.each do |link| %>
				<%= partial :link, :locals => {:link => link} %>
			<% end %>
		</ul>

	<% else %>

	<center id="please_register">Please <a href="/sessions/new">login</a> or <a href="/users/new">sign up</a>
</center>

<% end %>


