<% if current_user %>

<h1>Welcome to the bookmark manager</h1>

Current links:
<div id='links-container'>
	<ul id='links'>
  	<% @links.each do |link| %>
     <%= partial :link, :locals => {:link => link}  %>
  <% end %>
</ul>
</div>

Add Links
  <%= partial :"links/new" %>

<% end %>

