<head>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/application.css">
</head>
<body>
  <title>Bookmark manager</title>
<body>
  <%= partial :header %>
  <%= partial :flash %>
  <%= yield %>
</body>
