<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/application.css">
</head>
  <title>Bookmark manager</title>
<body>
	<div class="wrapper">
  	<%= partial :header %>
  	<%= partial :flash %>
  <div id="container">
  	<%= yield %>
  </div>
  <div class="push"</div>
  	 <div class="footer">
  	<%= partial :footer %>
  	 </div>

</body>
</html>

