<head>
  <link rel="stylesheet" type="text/css" href="../css/reset.css">
  <link rel="stylesheet" type="text/css" href="../css/application.css">
</head>

<li class='link'>
  <a class='title' href="<%= link.url %>"><%= link.title %></a>
  <div class='description'>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>

  <span class='source'>
    added yesterday by 
    <a href="#">mcfredmac@icloud.com</a>
  </span>
</li>